* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Lato-Regular";
  src: url(../fonts/Lato-Regular.ttf);
}

@font-face {
  font-family: "Lato-Light";
  src: url(../fonts/Lato-Light.ttf);
}

@font-face {
  font-family: "Lato-Black";
  src: url(../fonts/Lato-Black.ttf);
}

@font-face {
  font-family: "Damion-Regular";
  src: url(../fonts/Damion-Regular.ttf);
}

@font-face {
  font-family: "Lato-Bold";
  src: url(../fonts/Lato-Bold.ttf);
}

.page1 {
  background-image: url(../images/page1/Layer\ 4.png);
  height: 1150px;
  background-repeat: no-repeat;
  background-size: cover;
}

.page1-slider-image {
  background-image: url(../images/page1/Layer\ 2.png);
  height: 1150px;
  background-repeat: no-repeat;
  background-size: cover;
  /* position: absolute;
  z-index: 1; */
}

.navigation {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: absolute;
  z-index: 2; */
}

.logue {
  color: #fff;
  font-family: "Damion-Regular";
  font-size: 50px;
}

.menu ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.menu ul li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 40px 25px 20px 25px;
  font-size: 18px;
  font-family: "Lato-Regular";
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.page1 .navigation .menu ul li .active {
  background-color: #74c7d5;
}

.page1 .navigation .menu ul li a:hover {
  background-color: #74c7d5;
  transition: all 0.4s ease;
}

.middle {
  height: 170px;
  margin-top: 345px;
}

.middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text-box {
  position: relative;
}

.text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #74c7d5;
  text-transform: uppercase;
  position: absolute;
  left: 0px;
  top: 0px;
}

.left-text {
  width: 48%;
  font-size: 60px;
  font-family: "Lato-Light";
  text-align: right;
}

.left-text span {
  text-transform: lowercase;
}

.right-text {
  width: 50.5%;
  font-size: 138px;
  font-family: "Lato-Black";
}

.bottom-slider-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 450px;
}

.bottom-slider-dots .dot {
  margin-right: 40px;
}

.bottom-slider-dots .dot:last-child {
  margin-right: 0px;
}

.page2 {
  background-image: url(../images/page2/Layer\ 3.png);
  height: 1150px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.page2 .navigation .menu ul li .active {
  background-color: #df5c64;
}

.page2 .navigation .menu ul li a:hover {
  background-color: #df5c64;
  transition: all 0.3s ease;
}

.page2-text-box {
  color: #fff;
  text-align: center;
  width: 1100px;
  margin: 0 auto;
  margin-bottom: 120px;
  margin-top: 125px;
}

.page2-text-box .title1 {
  font-size: 60px;
  text-transform: uppercase;
  font-family: "Lato-Light";
  padding-bottom: 40px;
}

.page2-text-box .title2 {
  font-size: 20px;
  text-transform: uppercase;
  font-family: "Lato-Regular";
  padding-bottom: 20px;
}

.page2-text-box .title3 {
  font-size: 14px;
  font-family: "Lato-Regular";
  line-height: 25px;
}

.page2 .page2-text-box .title2 span {
  color: #e18b90;
}

.services {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-bottom: 125px; */
}

.services .service1 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service1 img:nth-child(2) {
  position: absolute;
  z-index: 2;
  top: 40px;
}

.service1 img:nth-child(3) {
  position: absolute;
  z-index: 3;
  top: 50px;
}

.service1 img:nth-child(4) {
  position: absolute;
  z-index: 4;
  top: 76px;
}

.service1 .service-text {
  position: absolute;
  z-index: 1;
  top: 180px;
}

.service1 .text-body {
  font-family: "Lato-Regular";
  font-size: 14px;
  color: #fff;
  text-align: center;
  line-height: 23px;
}

.service1 .heading {
  padding: 30px 0px;
  font-family: "Lato-Light";
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
}

.page3 {
  background-image: url(../images/page3/Layer\ 6.png);
  height: 1150px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.page4 {
  background-image: url(../images/page4/Layer\ 14.png);
  height: 1150px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.page5 {
  background-image: url(../images/page5/Layer\ 24.png);
  height: 1150px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.page3 .navigation .menu ul li .active {
  background-color: #91778e;
}

.page3 .navigation .menu ul li a:hover {
  background-color: #91778e;
  transition: all 0.3s ease;
}

.page4 .navigation .menu ul li .active {
  background-color: #a1ca6c;
}

.page4 .navigation .menu ul li a:hover {
  background-color: #a1ca6c;
  transition: all 0.3s ease;
}

.page5 .navigation .menu ul li .active {
  background-color: #82c8bd;
}

.page5 .navigation .menu ul li a:hover {
  background-color: #82c8bd;
  transition: all 0.3s ease;
}

.meet-the-team .label {
  text-transform: uppercase;
  font-size: 25px;
  font-family: "Lato-Black";
  color: #fff;
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translateX(-50%);
}

.meet-the-team {
  position: relative;
  text-align: center;
  margin-bottom: 100px;
}

.page3 .page2-text-box .title3 {
  margin-bottom: -70px;
}

.page3 .services .service1 .service-text .heading {
  color: #c7b6c5;
  font-family: "Lato-Black";
  font-size: 25px;
  text-align: center;
}

.page3 .services .service1 img:nth-child(2):hover {
  content: url(../images/page3/Ellipse\ red.png);
  transition: all 0.5s ease;
  cursor: pointer;
}

.page3 .services .service1 img:nth-child(3):hover {
  content: url(../images/page3/User.png);
  transition: all 0.5s ease;
  cursor: pointer;
}

.page3 .services .service1 .service-text .text-body {
  color: #a1ca6c;
}

.page3 .services .service1 .service-text .social-icons {
  display: flex;
  margin-top: 20px;
}

.page3 .services .service1 .service-text .social-icons span:last-child {
  margin-right: 0px;
}

.page3 .services .service1 .service-text .heading:hover {
  color: #fff;
  transition: all 0.5s ease;
  cursor: pointer;
}

.page3 .services .service1 .service-text .text-body:hover {
  color: #df5c64;
  transition: all 0.5s ease;
  cursor: pointer;
}

.page3 .services .service1 .service-text .social-icons span:nth-child(1):hover {
  background-color: #4f689e;
  transition: all 0.5s ease;
  cursor: pointer;
}

.page3 .services .service1 .service-text .social-icons span:nth-child(2):hover {
  background-color: #74c7d5;
  transition: all 0.5s ease;
  cursor: pointer;
}

.page3 .services .service1 .service-text .social-icons span:nth-child(3):hover {
  background-color: #df5c64;
  transition: all 0.5s ease;
  cursor: pointer;
}

.page3 .services .service1 .service-text .social-icons span:nth-child(4):hover {
  background-color: #3e61af;
  transition: all 0.5s ease;
  cursor: pointer;
}

.page3 .services .service1 .service-text .social-icons span {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #a1859e;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 18px;
  margin-right: 20px;
}

.portfolio {
  display: flex;
  justify-content: space-between;
  width: 1100px;
  margin: 0 auto;
  align-items: center;
  font-size: 16px;
  font-family: "Lato-Bold";
  color: #fff;
  border-top: 1px solid #a9e175;
  border-bottom: 1px solid #a9e175;
  padding: 32px 10px;
}

.portfolio .portfo {
  text-transform: uppercase;
}

.portfolio .span-container {
  display: flex;
}

.portfolio span {
  text-transform: capitalize;
  display: block;
  padding: 10px 5px;
  margin-right: 30px;
}

.portfolio span:hover {
  background-color: #f5c149;
  border-radius: 5px;
  transition: all 0.4s ease;
}

.page4 .page2-text-box {
  margin-bottom: 60px;
}

.eight {
  padding: 40px 0px;
  width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.eight .box {
  margin-bottom: 20px;
}

.behind {
  width: 260px;
  height: 50px;
  background-color: #fff;
  position: relative;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-top: -4px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 20px;
  color: #727272;
  font-size: 14px;
  font-family: "Lato-Regular";
}

.img img {
  max-width: 100%;
}

.img img:hover {
  transform: scale(1.2);
  transition: all 0.5s ease;
  cursor: pointer;
}

.img {
  overflow: hidden;
}

.in {
  width: 30px;
  height: 30px;
  background-color: #fff;
  position: absolute;
  transform: rotate(45deg);
  top: -31%;
  left: 41%;
}

.information {
  display: flex;
  width: 1100px;
  margin: 0 auto;
  justify-content: space-between;
}

.information .ask,
.address {
  font-size: 30px;
  color: #fff;
  font-family: "Lato-Light";
}

.textboxin .acro,
span {
  color: #c0dfda;
  font-size: 20px;
  font-family: "Lato-Bold";
}

.textboxin p {
  color: #fff;
  margin-bottom: 5px;
}

.textboxin p:nth-child(3) {
  margin-bottom: 40px;
}

.textboxin span {
  color: #c0dfda;
  font-size: 16px;
  font-family: "Lato-Regular";
}

.left {
  width: 45%;
}

.right {
  width: 54%;
}

.left .textbox {
  display: flex;
  margin-top: 20px;
}

.left,
.right {
  padding: 20px;
}

.right form button {
  color: #fff;
  font-size: 26px;
  font-family: "Lato-Black";
  background-color: #df5c64;
  border: none;
  border-bottom: 3px solid #c8535a;
  border-radius: 4px;
  outline: none;
  padding: 10px 97px;
  margin-left: 27%;
  margin-top: 20px;
}

textarea::placeholder {
  padding: 15px 0px 0px 15px;
}

.right form button:hover {
  background-color: #630a10;
  transition: all 0.4s ease;
  cursor: pointer;
}

.right form input {
  outline: none;
  border: none;
  border-radius: 4px;
  background-color: #68a097;
  padding: 15px 74px 15px 15px;
  margin: 20px 9px;
}

.right form input:hover,
.right form textarea:hover {
  background-color: #fff;
}

.right form input:first-child {
  margin-left: 0px;
}

.right form input:last-child {
  margin-right: 0px;
}

.right form input::placeholder,
.right form textarea::placeholder {
  color: #82c8bd;
  font-family: "Lato-Regular";
  font-size: 16px;
}

.right form textarea {
  width: 540px;
  height: 155px;
  resize: none;
  outline: none;
  border: none;
  border-radius: 4px;
  background-color: #68a097;
}

.map {
  padding-left: 30px;
}

.footer {
  background-color: #68a097;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0px;
  margin-top: 7%;
}

.footer span {
  display: flex;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #82c8bd;
  align-items: center;
  justify-content: center;
  margin-right: 40px;
  color: #fff;
  font-size: 25px;
}

.footer span:last-child {
  margin-right: 0px;
}

@media screen and (max-width: 1100px) {
  .navigation,
  .services,
  .page2-text-box,
  .eight,
  .portfolio {
    width: 90%;
    margin: auto;
  }
  .page2-text-box {
    margin: 120px auto;
  }
  .service1 {
    width: 24%;
  }
  .service1 img {
    max-width: 100%;
  }
  .service1 .heading {
    text-align: center;
  }
  .page3 .services .service1 .service-text .social-icons {
    margin-top: 0;
  }
  .information {
    width: 100%;
  }
  .page4 {
    height: auto;
  }
  .right form textarea {
    width: 100%;
  }
  .right form {
    display: flex;
    flex-direction: column;
  }
  .right form input {
    margin: 20px 0;
  }
}
@media screen and (max-width: 1060px) {
  .service1 img:nth-child(2) {
    top: 0;
  }
  .service1 img:nth-child(3) {
    top: 10px;
  }
  .service1 .service-text {
    bottom: 0;
    width: min-content;
  }
  .service1 .text-body {
    margin-bottom: 10px;
  }
  .service1 {
    width: 50%;
    margin-bottom: 20px;
  }
  .service1 img:nth-child(4) {
    top: 38px;
  }
  .page3 .services .service1 .service-text .heading {
    padding: 10px 0px;
  }
  .services {
    flex-wrap: wrap;
  }
  .page2,
  .page3,
  .page5 {
    height: 100%;
  }
}
@media screen and (max-width: 900px) {
  .information {
    flex-direction: column;
    align-items: center;
  }
  .right form button {
    margin-left: 0px;
  }
  .left,
  .right {
    width: 100%;
  }
  .information .ask,
  .address {
    text-align: center;
  }
  .left .textbox {
    justify-content: space-evenly;
  }
  .text-box img {
    width: 80%;
    height: 400px;
  }
  .right form {
    width: 90%;
    margin: auto;
  }
  .left .textbox {
    width: 90%;
    margin: 30px auto auto auto;
    justify-content: space-between;
  }
  .left-arroow,
  .right-arroow {
    transform: translateY(120px);
  }
  .text {
    flex-direction: column;
    width: min-content;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .left-text,
  .right-text {
    width: 100%;
  }
  .text-box {
    margin: auto;
    width: 90%;
  }
  .text-box img {
    width: 100%;
    max-width: 100%;
  }
}
@media screen and (max-width: 732px) {
  .navigation {
    width: 100%;
    flex-direction: column;
  }
  .menu {
    width: 100%;
  }
  .menu ul {
    justify-content: space-between;
  }
  .portfolio {
    flex-direction: column;
  }
  .span-container span {
    margin-right: 0px;
  }
  .span-container{
    margin-top: 20px;
    justify-content: space-between;
    width: 100%;
}
  }
@media screen and (max-width: 590px) {
  .menu ul {
    flex-direction: column;
    background: rgba(255, 255, 255, 0.171);
  }
  .menu ul li {
    width: 100%;
    text-align: center;
  }
  .menu ul li a {
    padding: 25px;
  }
  .logue {
    width: 100%;
    text-align: center;
  }
  .middle {
    margin-top: 0;
    height: unset;
  }
  .bottom-slider-dots {
    margin-top: 200px;
  }
  .services .service1 {
    width: 100%;
  }
  .eight {
    flex-direction: column;
    align-items: center;
  }
  .left-arroow,
  .right-arroow {
    transform: translateY(0px);
  }
}
@media screen and (max-width: 487px) {
  .text-box img {
    height: 450px;
  }
  .left-text {
    text-align: center;
  }

  .left-text span {
    font-size: 35px;
  }
  .span-container {
    flex-direction: column;
    align-items: center;
  }
  .left .textbox {
    flex-direction: column;
    align-items: center;
  }
  .bottom-slider-dots{
    margin-top: 131px;
  }
  .right-text{
    font-size: 25vw;
  }
  .meet-the-team .label{
    font-size: 5vw;
  }
  .footer span{
    margin-right: 7px;
  }
  .map {
    padding-left: 0px;
    margin-top: 30px;
  }
}
